/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    AWS Batch configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    nextflow run main.nf -profile awsbatch
----------------------------------------------------------------------------------------
*/

workDir = 's3://helix-workflows/scratch/work'

params {
    outdir = 's3://helix-workflows/scratch/results'

    custom_config_base = null

    config_profile_name        = 'AWS Batch'
    config_profile_description = 'AWS Batch execution using s3://helix-workflows/scratch/'
}

process {
    executor = 'awsbatch'
    queue    = 'germline-variant-calling-queue'
}

aws {
    region = 'us-east-1'

    batch {
        jobRole = 'arn:aws:iam::467517327055:role/NextflowBatchJobRole'
    }
}

wave {
    enabled = true
}

fusion {
    enabled = true
}

executor {
    queueSize = 100
}